.ag-theme-alpine {
    --ag-header-column-resize-handle-display: block;
    --ag-header-column-resize-handle-width: 5px;
    --ag-header-column-resize-handle-color: orange;

    --ag-header-cell-text-color: black;
    --ag-header-cell-border-color: black;
    --ag-header-cell-border-width: 1px;
    --ag-header-cell-border-style: solid;
    --ag-header-group-cell-border-color: black;
}

.ag-cell {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.ag-theme-alpine .ag-header {
    background-color: #64b6f7;
    height: 40px;
}
.ag-ltr .ag-cell {
    display: flex;
    justify-content: start;
    align-items: center;
}
.ag-icon-tree-closed::before {
    content: var(--ag-icon-font-code-tree-open, '\f132');
}
