* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat4';
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css';

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 80%);
}
.swiper-nav-btns {
    position: absolute;
    /* bottom: 10px; */
}
span.MuiSlider-root.MuiSlider-colorPrimary.MuiSlider-sizeSmall.css-53tbrc-MuiSlider-root {
    padding: 0px;
}
